ul {
  padding-left 0
}

li {
  list-style none
}

::-webkit-scrollbar {
  width 6px
  height 6px
}

::-webkit-scrollbar-track-piece {
  background-color rgba(0, 0, 0, 0.1)
  -webkit-border-radius 3px
}

::-webkit-scrollbar-thumb:vertical {
  height 5px
  background-color rgba(54, 54, 54, 0.7)
  -webkit-border-radius 3px
}

::-webkit-scrollbar-thumb:horizontal {
  width 5px
  background-color rgba(54, 54, 54, 0.7)
  -webkit-border-radius 3px
}